@import url('https://fonts.googleapis.com/css?family=Quattrocento:700|Raleway');
/*font-family: 'Quattrocento', serif;
font-family: 'Raleway', sans-serif;*/

* {
	padding: 0;
	margin: 0;
}


body {
	font-size: 16px; 
	text-align: left;
	line-height: 1.3em;
	color: #222222;
	font-family: 'Raleway', Arial, sans-serif;
}


header {
	padding: 30px;
	background-color: white;
	border: 1px black solid;
	background-image: url("../images/ivyvine.jpg");
	background-position: center;
	text-align: center;
	background-repeat: no-repeat;
}


h1 {
	font-weight: bold;
	font-size: 3em;
	font-family: 'Quattrocento', serif;
}


h2 {
	font-size: 1.5em;
	padding: .7em;
	font-family: 'Quattrocento', serif;
}


nav {
	background-color: #E3FFEF;
	border: 1px black solid;
	padding: 10px;
	color: pink;
	text-decoration: none;
	text-align: center;
}


nav a{
	padding: 30px;
	color: pink;
	text-decoration: none; 
	font-weight: bold;
}


nav a:hover{
	color: #FF0DFF;
}


h3 {
	font-size: 1.5em;
	padding: .7em;
}

aside {
	padding-right: none;
}


main {
	border: 1px black solid;
}

main h3 {
	font-size: 1.5em;
	padding: .7em;
	text-align: center;
}


article {
	display: block;
	float: left;
/*	how do I make the two articles within the main section move float to the same line?*/
}


p {
	line-height: 1.3em;
	padding: .9em .2em;
}


ul{
	padding-bottom: 1.2em;
	padding-left: 25px;
	/*width: auto;*/
	list-style-type: square;
}


li{
	text-align: left;
}


footer {
	border: 1px black solid;
	padding: 2px 20px;
	clear: both;
}


footer p {
	display: block;
	float: right;
	text-align: center;
	padding: 5px 25px;
}


.topright:hover{
	color: #FF0DFF;
}


.topright {
	text-decoration: none;
	text-align: right;
	color: pink; 
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


#right-align {
	text-align: right;
	color: pink; 
	text-decoration: none;
}


#navbar {
	padding: 2px 0;
	/*background: #eee;*/
}


#two_column {
	border: 1px black solid;
	padding-bottom: 20px;
	margin: 0;
}


#left {
	/*background-color: violet;*/
	text-align: center;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 25%;
}


#right {
	/*background-color: pink;*/
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 67%;
	/*margin: 0 auto;*/
}


#left img {
	width: 200px;
}


#wrapper {
	width: 1080px;
	margin: 0 auto;
	background-color: #B3FFEF;
}


