@import url('https://fonts.googleapis.com/css?family=Quattrocento:700|Raleway');
/*font-family: 'Quattrocento', serif;
font-family: 'Raleway', sans-serif;*/

* {
	padding: 0;
	margin: 0;
}


body {
	font-size: 16px; 
	text-align: left;
	line-height: 1.3em;
	color: #222222;
	background-color: #E7FFEF;
	font-family: 'Raleway', Arial, sans-serif;
}


header {
	padding: 1.2em;
	margin-top: 1.5em;
	background-color: white;
	background-position: center;
	text-align: center;
}

h1 {
	font-weight: bold;
	font-size: 3em;
	font-family: 'Quattrocento', serif;
}


h2 {
	font-size: 1.5em;
	padding: .7em;
	font-family: 'Quattrocento', serif;
}


nav {
	background-color: #fff;
	padding: .6em;
	color: pink;
	text-decoration: none;
	text-align: center;
}


nav a{
	padding: 2em;
	color: pink;
	text-decoration: none; 
	font-weight: bold;
}


nav a:hover{
	color: #FF0DFF;
}


h3 {
	font-size: 1.5em;
	padding: .5em 0;
	text-align: left;
	line-height: 1.3em;
}

aside {
	background-color: #fff;
	display: block;
	float: left;
}


main {
	background-color: #fff;
	display: block;
	float: right;
}

article + article {
	border-top: 1px black solid;
}

p {
	line-height: 1.3em;
	padding: .9em .2em;
}


ul{
	padding-bottom: 1.2em;
	padding-left: 1.5em;
	list-style-type: square;
}


li{
	text-align: left;
}


footer {
	padding: 1em;
	margin: 0em;
	clear: both;
	background-color: #fff;
}


footer p {
	display: block;
	float: right;
	text-align: center;
}


.topright:hover{
	color: #FF0DFF;
}


.topright {
	text-decoration: none;
	text-align: right;
	color: pink; 
}


.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

#headerimg {
	padding-top: 2.5em;
}

#right-align {
	text-align: right;
	color: pink; 
	text-decoration: none;
}


#navbar {
	padding: 1em 0;
}


#two_column {
	margin: 1.5em 0;
}

#left {
	text-align: center;
	padding: 1em;
	float: left;
	width: 25%;
}

#left img {
	width: 80%;
	padding-top: 1em;
}

#left p{
	text-align: left;
}

#right {
	padding: 1em;
	float: right;
	width: 68%;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
}

@media only screen and (max-width: 1150px) {
/*#left {
		display: none;
	}*/


@media only screen and (max-width: 1080px) {
	nav a {
		display: block;
		float: none;
		background-color: #E8EEF5;
		padding: .2em;
		margin: .1em;
	}

	#navbar {
		padding: 0;
	}

	#right-align {
		padding-bottom: 1em;
	}

	#left img {
		width: 90%;
	}
}
@media only screen and (max-width: 850px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

	h3 {
		font-size: 1.2em;
		font-weight: bold;
	}

	#header {
		padding: 1em;
		margin-top: .5em;
	}

	#right-align {
		display: none;
	}

	#headerimg {
		display: none;
	}

	#left {
		display: none;
	}

	#right {
		width: 95%;
	}
}

@media only screen and (max-width: 560px) {
	h1 {
		font-size: 1.5em;
	}

	h2 {
		display: none;
	}
}


