@import url('https://fonts.googleapis.com/css?family=Quattrocento:700|Raleway');
/*font-family: 'Quattrocento', serif;
font-family: 'Raleway', sans-serif;*/

* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px; 
	background-color: #B3FFEF;
	text-align: center;
	line-height: 1.3em;
	color: #222222;
	font-family: 'Raleway', Arial, sans-serif;
}

.topright{
	text-align: right;
	color: pink; 
	text-decoration: none;
}

#right-align{
	text-align: right;
}

.navbar{
	padding: 2px 0;
	/*background: #eee;*/
}

header {
	padding: 30px;
	background-color: white;
	border: 1px black solid;
	background-image: url("../images/ivyvine.jpg");
	background-position: center;
	text-align: center;
	background-repeat: no-repeat;
}


h1{
	font-weight: bold;
	font-size: 3em;
	font-family: 'Quattrocento', serif;
}

h2 {
	font-size: 1.5em;
	padding: .7em;
	font-family: 'Quattrocento', serif;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}

nav a{
	padding: 30px;
	color: pink;
	text-decoration: none;
}

aside{
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 220px;
}

section{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}


h3{
	font-size: 1.5em;
	padding: .7em;
}

p {
	line-height: 1.3em;
	padding: .9em .2em;
}

ul{
	padding-bottom: 1.2em;
}

li{
	list-style-type: square;
	width: auto;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	clear: both;
}

.oicreator img {
	width:220px;
}

#wrapper{
	width: 1080px;
	margin: 0 auto;
}